* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    margin-top: 50px;
    font-family: Inter;
    background-color: #FFF7D9
}

main {
   background-color: #FFF7D9;
   margin: 0px;
   padding: 40px 20px;
}

/*
light green: #9fe67e
light blue: #BBDAFF
dark green: #21731e
dark blue: #457EC1
*/
.about--container {
    background-color: #d1e2c6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    max-width: 750px;
    min-height: 350px;
    max-height: 60%;
    border-style: solid;
    border-width: 10px;
    border-color: #21731e;
    box-shadow: 0px 5px 4px #27466A;
}

.about--container:hover {
    max-width: 780px;
    transition: 0.2s;
}

@media (max-width:950px){
    .about--container {
        display: block;
        max-height: 90%;
        min-width: 400px;
        width: 300px;
    }
}

.about--text-container {
    min-width: 300px;
    max-width: 350px;
    padding: 10px;
}

.about--text {
    font-size: 16px;
}

.headshot {
    width: fit-content;
    height: fit-content;
    max-height: 300px;
    margin: auto;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: #FFBA34;
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    z-index: 1000;
}

.navbar-option {
    color: white;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    padding: none;
}

.navbar-option:hover {
    background-color: #A65B03;
}

.section-card {
    background-color: #457EC1;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    max-width: 870px;
    border-radius: 10px;
}

.section-card:hover {
    max-width: 890px;
    transition: 0.2s;
}

.entry-card {
    background-color: #CDE4FF;
    padding: 10px;
    margin: 10px;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: black;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer--text {
    color: white;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

html {
    scroll-behavior: smooth;;
}

