* {
    box-sizing: border-box;
    scroll-padding-top: 70px;
    transition: background-color 0.3s ease, color 0.4s ease;
}

:root {
    --aboutContainerBackground: #fafde6;
    --mainBackground: #EBf5DF;
    --helloText: #2b261e;
    --aboutText: #2b261e;
    --navbarLight: #fca542;
    --navbarDark: #f38a28;
    --navbarShadow: #d8702b;
    --borderBackground: #93ac84;
    --borderShadow: #6b835b;
    --sectionBackground: #facc35;
    --sectionShadow: #cf9728;
    --entryBody: #FFF7D9;
    --entryTitle: #e6a930;
    --entryText: #2b261e;
    --footerLight: #2b261e;
}

.light-theme {
    --aboutContainerBackground: #fafde6;
    --mainBackground: #EBf5DF;
    --helloText: #2b261e;
    --aboutText: #2b261e;
    --navbarLight: #fca542;
    --navbarDark: #f38a28;
    --navbarShadow: #d8702b;
    --borderBackground: #93ac84;
    --borderShadow: #6b835b;
    --sectionBackground: #facc35;
    --sectionShadow: #cf9728;
    --entryBody: #FFF7D9;
    --entryTitle: #e6a930;
    --entryText: #2b261e;
    --footerLight: #2b261e;
}

/*
-alternate dark green: #22291b
    --navbarLight: #fca542;
    --navbarDark: #cc8534;

    --navbarLight: #2d718b;
    --navbarDark: #36677e;
    --navbarShadow: #23374e;
    --borderBackground: #41724d;
    --borderShadow: #2b4b33;
    --sectionBackground: #4794a7;
    --sectionShadow: #26515c;
    --entryBody: #316174;
    --entryTitle: #3a7a8a;
    --aboutContainerBackground: #264027;
*/

.dark-theme {
    --aboutContainerBackground: #26403c;
    --mainBackground: #0D1F22;
    --helloText: #f0f8da;
    --aboutText: #f0f8da;
    --navbarLight: #2e7a5a;
    --navbarDark: #336b4f;
    --navbarShadow: #23374e;
    --borderBackground: #417266;
    --borderShadow: #2b4b44;
    --sectionBackground: #33757e;
    --sectionShadow: #26515c;
    --entryBody: #316174;
    --entryTitle: #41899b;
    --entryText: white;
    --footerLight: #131b14;
}

body {
    margin: 0px;
    margin-top: 50px;
    font-family: Inconsolata;
    background-color: #fbffd9
}

main {
   background-color: var(--mainBackground);
   margin: 0px;
   padding: 40px 20px;
}

/*
light green: #9fe67e, #d1e2c6
light blue: #BBDAFF
dark green: #21731e
dark blue: #457EC1
*/
.about--container {
    background-color: var(--aboutContainerBackground);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    max-width: 100%;
    min-height: 350px;
    max-height: 100%;
}

.about--border {
    background-color: var(--borderBackground);
    box-shadow: 0px 5px 4px var(--borderShadow);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 40px;
    max-width: 750px;
    min-height: 350px;
    max-height: 800px;
}

.about--border:hover {
    max-width: 765px;
    transition: 0.15s;
}

.about--text-container {
    min-width: 300px;
    max-width: 350px;
    padding: 10px;
}

.about--text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--aboutText);
}

.contact {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-top: 10px;
}

li {
    color: white;
    margin-right: 22px;
    float: left;
    font-size: 18px;
    font-weight: 600;
}

.contact-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.contact-icon {
    max-height: 40px;
    margin-right: 5px;
}


.headshot {
    width: fit-content;
    height: fit-content;
    max-height: 300px;
    margin: auto;
    border-radius: 5px;
}

.navbar {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    z-index: 1000;
    box-shadow: 0px 2px 4px var(--navbarShadow);
    background-image: linear-gradient(var(--navbarDark), var(--navbarLight));
}

.navbar-option {
    color: white;
    font-size: 18px;
    margin: 0px;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    height: 50px;
}

.navbar-option:hover {
    background-color: #d8702b;
}

/*
========TOGGLE============
*/
.toggle.react-toggle .react-toggle-track {
    background-color: var(--helloText);
}
.toggle.react-toggle--checked .react-toggle-track {
    background-color: #274075;
}
.toggle.react-toggle--checked .react-toggle-track:hover {
    background-color: #3759a3;
}
.toggle.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #3d61af;
}
.toggle.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.toggle-icon {
    max-height: 100%;
} 
.toggle-container {
    margin: auto;
}

/* old background color: #457EC1*/
.section-card {
    background-color: var(--sectionBackground);
    padding: 20px 10px 10px 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 880px;
    box-shadow: 0px 4px 3px var(--sectionShadow);
}

.section-card:hover {
    max-width: 890px;
    transition: 0.15s;
}

/* 
baby blue: #CDE4FF
*/
.entry-card {
    background-color: var(--entryBody);
    padding: 0px 0px 10px 0px; 
    margin: 10px;
}

.entry-contents {
    display: flex;
    padding: 10px;
}

.entry-inner-div {
    display: block;
    padding: 0px 14px;
}

.entry-inner-div-NOPHOTO {
    padding: 0px 10px;
}

.music-photo {
    max-width: 30%;
    height: auto;
    padding-left: 10px;
}

.entry-photo {
    max-height: 100px;
    padding-left: 10px;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: #2b261e;
    background-image: linear-gradient(var(--footerLight), black);
    bottom: 0px;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 10px;
}

.footer--text {
    color: white;;
}

.audio-player {
    width: 80%;
}

h1 {
    color: white;
    margin: 0px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    background-color: var(--entryTitle);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 0px;
    color: var(--entryText);
}

a {
    font-weight: 600;
}

.hello {
    color: var(--helloText);
    padding-left: 10%;
    padding-bottom: 30px;
    font-size: 60px;
    font-weight: 800;
}

html {
    scroll-behavior: smooth;
}

@media (max-width:870px){
    .about--border {
        min-height: 695px;
        min-width: 400px;
        width: 300px;
    }
    .about--container {
        display: block;
    }
    .contact {
        display: block;
    }
    li {
        padding-top: 5px;
    }
}

